.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;
    padding: 2px;
}

.turn {
    text-align: center;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 2px;
    font-size: 4em;
}